{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="account-username">
            <h3>{{ current_user.username }}</h3>
            <a href="{{ url_for('update_account', selected=username) }}" class="links">Change Username</a><br>
        </div>
        <div class="account-email">
            <h3>{{ current_user.email }}</h3> 
            <a href="{{ url_for('update_account', selected=email) }}" class="links">Change Email</a><br>
        </div>
        <div class="account-phonenumber">
            <h3>{{ current_user.phonenumber }}</h3> 
            <a href="{{ url_for('update_account', selected=phonenumber) }}" class="links">Change Phone Number</a><br>
        </div>
        <div class="account-provider">
            <h3>{{ current_user.provider }}</h3> 
            <a href="{{ url_for('update_account', selected=provider) }}" class="links">Change Service Provider</a><br>
        </div>
        <div class="account-password">
            <a href="{{ url_for('update_account', selected=password) }}" class="links">Change Password</a><br>
        </div>
    </div>
{% endblock content %}