{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="account-info">
            <h3>{{ current_user.display_username }}</h3>
            <h3>{{ current_user.display_email }}</h3> 
            <h3>{{ current_user.phonenumber }}</h3> 
            <h3>{{ current_user.provider }}</h3> 
        </div>
        <div class="account-change">
            <a href="{{ url_for('update_account', selected='Username') }}" class="links ">Change Username</a>
            <a href="{{ url_for('update_account', selected='Password') }}" class="links">Change Password</a>
            <a href="{{ url_for('update_account', selected='Email') }}" class="links">Change Email</a>
            <a href="{{ url_for('update_account', selected='PhoneNumber') }}" class="links">Change Phone Number</a>
            <a href="{{ url_for('update_account', selected='Provider') }}" class="links">Change Service Provider</a>
            <a href="#" class="links">Delete Account</a>
        </div>
    </div>
{% endblock content %}