{% extends "layout.html" %}
{% block content %}
<form class="my-form" method="POST" action="{{ url_for('reset_request_email') }}">
        {{ form.hidden_tag() }}
        {% if message %}
            {% if message != "Phone number was not found." %}
                <div class="valid-feedback">
                    <span>{{  message  }}</span>
                </div>
            {% else %}
                <div class="invalid-feedback">
                    <span>{{ message }}</span>
                </div>
            {% endif %}
        {% endif %}
        <div class="phonenumber-field">
            {{ form.phonenumber.label(class="entry-labels") }}
            {% if form.phonenumber.errors %}
                {{ form.phonenumber(class="entry-fields entry-fields-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.phonenumber.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.phonenumber(class="entry-fields") }}
            {% endif %}
        </div>
        <div class="buttons">
            {{ form.submit(class="links submit") }}
        </div>
    </form>
{% endblock content %}